ol, ul{
    list-style: none;
}

body {
    background: #f7f7f7;
    padding-right: 35px;
}


.profile-panel {
    margin-left: 170px;
    border: 1px solid #eee;
    background-color: #fff;
    min-height: 680px;
    padding: 20px 18px;
}

.profile-paneltitle {
    border-bottom: 2px solid #f4f4f4;
    padding: 0 20px 11px;
    font-size: 18px;
    font-weight: 700;
}

.profile-panelcontent {
    display: inline-block;
    width: 100%;
}

.profileinfo {
    margin-top: 39px;
    margin-left: 42px;
    display: none;
}

.chart{
    height: 300px;
    width: 500px;
    float: left;
}


.balance-summary.index {
    padding-left: 126px;
}

.balance-summary {
    margin: 12px 0 24px;
    padding: 19px;
    background-color: #fafafa;
    border: 1px solid #f3f3f3;
}

.balance-tip {
    display: inline-block;
    vertical-align: middle;
}

.balance-summary-title {
    margin-left: -100px;
    width: 100px;
}

.balance-number {
    margin-right: 8px;
    font-weight: 700;
    color: #f74342;
    font-size: 24px;
    font-family: arial;
}