<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>注册</h1>
<div id="register-panel">
    <input v-model="email" ref="email" placeholder="输入邮箱">
    <input v-model="password" placeholder="输入密码">
    <button v-on:click="submit"></button>
</div>

<script>
    var vm = new Vue({
        el:"#register-panel",
        data:{
            email:"",
            password:"",
        },
        methods: {
            submit: function () {
                axios.post("/register", {
                    email: this.email,
                    password: this.password
                }).then(function (data) {
                    alert("success");
                    console.log(data);
                    console.log(data['data']);
                }).catch(function (reason) {
                    alert(reason);
                });
            }
        }
    });
</script>

</body>
</html>