.place-premiumrstbox, .place-rstbox {
    position: relative;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    margin-top: 70px;
    background: #fff;
    overflow: hidden;
}

.rstblock {
    width: 25%;
}
.rstblock {
    background-color: #fff;
    border-bottom: 1px #f5f5f5 solid;
   /* width: 33.33333%;*/
    height: 140px;
    margin-bottom: 5px;
}
.rstblock, .rstblock-logo {
    float: left;
    font-size: 12px;
    position: relative;
}
a, ins {
    text-decoration: none;
}
a {
    color: #0089dc;
}

.rstblock-content {
    padding: 20px;
}

.rstblock-title {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.rstblock-phone,.rstblock-province, .rstblock-city,.rstblock-district,.rstblock-canteenCategory{
    color: #999;
    margin-top: 3px;
    font-size: 15px;
}

.shop-button {
    display: inline-block;
    background-color: #0089dc;
    color: #fff;
}
.shop-button{
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 0;
    cursor: pointer;
    width: 90px;
    height: 26px;
    line-height: 26px;
    border-radius: 20px;
    text-align: center;
    outline: 0;
}
